.login-form,
.signup-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 863px;
  padding: 100px 120px 40px;
  background-color: white;
}

.login-form-message,
.signup__form-message {
  color: grey;
  font-size: 18px;
}

.signup__form_header,
.login__form_header {
  margin: 0 0 10px;
  font-size: 30px;
}

.form-input input {
  height: 54px;
  padding: 0 10px;
  border-radius: 6px;
  border: 2px solid #1565d8;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
  font-size: 16px;
  color: #494949;
}

.signup__message-login,
.login_message-sigup {
  align-self: center;
}

.invalid {
  box-shadow: 0 0 3px rgba(255, 0, 0, 0.5);
  border: 1px red solid;
  outline: 0;
}
