.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  width: calc(20em + 25vw);
  padding: 3.5em 6em 3.5em;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.signup__form_header,
.login__form_header {
  margin: 0;
  padding: 0;
  font-size: calc(1em + 1vw);
}

.login-form-message,
.signup__form-message {
  margin: 0 0 0.5em;
  color: grey;
  font-size: calc(0.5em + 0.7vw);
  font-weight: 300;
}

.form-input .input,
.form-select-wrapper .select {
  height: 2.6em;
  padding: 0 0.6em;
  border-radius: 6px;
  border: 1px solid #219486;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-size: 1.1em;
  font-family: 'Work Sans', sans-serif;
  color: #949494;
}

.form-input .label,
.form-select-wrapper .label {
  text-transform: uppercase;
  font-size: calc(0.5em + 0.4vw);
}

.form-select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.signup__message-login,
.login_message-sigup {
  align-self: center;
  font-size: calc(0.5em + 0.5vw);
}

.invalid .input {
  border: 1px solid red;
  outline: 0;
}
