.post {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding: 2em;
  background: white;
  border-radius: 5px;
}

.post__user-info {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  gap: 1.5em;
}

.post__user-info-container {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.post__photo {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}

.post__name {
  text-transform: uppercase;
  font-size: calc(0.7em + 0.5vw);
}

.post__data-place {
  font-weight: 300;
  color: #949494;
}

.post__edit {
  height: 3em;
  width: 3em;
  margin-left: auto;
  background: url('../../../../assets/icons/svg/expand-icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.post__activity-container {
  display: grid;
  grid-template-columns: 1fr 10fr;
  gap: 1.3em;
}

.post__activity-icon {
  width: 3.5em;
  height: calc(0.8em + 1vw);
  border-radius: 50%;
}

.post__activity-icon > svg {
  display: block;
  width: 100%;
  height: 100%;
}

.post__activity-title {
  padding-top: 0.2em;
  margin-bottom: 1em;
  font-size: calc(0.7em + 0.5vw);
  font-weight: 600;
}

.post__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.post__data {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.post__data .post__data-single:not(:last-child) {
  border-right: 1px solid #90dad1;
}

.post__data > div:not(:first-child) {
  padding-left: 0.5em;
}

.post__data-single {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  width: 25%;
}

.post__data-title {
  font-size: calc(0.7em + 0.3vw);
  text-transform: uppercase;
  font-weight: 400;
  color: #ff8d24;
}

.post__icons {
  display: flex;
  justify-content: end;
  gap: 1em;
}

.post__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.1em;
  width: 4.5em;
  height: 2em;
  padding: 0.5em;
  font-family: 'Work Sans', sans-serif;
  border-radius: 5px;
}

.post__icon-counter {
  pointer-events: none;
  user-select: none;
}

.post__like,
.post__comment {
  cursor: pointer;
}

.post__comment {
  padding-top: 0.3em;
  width: calc(0.9em + 1vw);
  height: 2em;
}

.post__like {
  width: calc(0.5em + 0.8vw);
  height: 2em;
}

.post__add-comment-wrapper {
  display: grid;
  grid-template-columns: 3.5em 10fr 1fr;
  gap: 1.5em;
  border-width: 80%;
  padding-top: 1em;
}

.post__add-comment-user {
  height: calc(0.8em + 1.3vw);
  width: calc(0.8em + 1.3vw);
  justify-self: center;
}

.post__add-comment {
  justify-self: stretch;
  width: 100%;
}

.post__add-comment > textarea {
  width: 100%;
  height: 7em;
  padding: 1em;
  resize: none;
  border-radius: 5px;
  border: 1px solid #949494;
  font-family: 'Work Sans', sans-serif;
  font-size: calc(0.7em + 0.3vw);
  color: #949494;
}

.post__add-comment-button {
  height: 2em;
  padding: 0.5em;
}

.post__add-comment-button:disabled {
  background-color: #90dad1;
  pointer-events: none;
}

.map img {
  width: 100%;
}
