.training-feed {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 95%;
  box-shadow: rgba(183, 183, 183, 0.076) 0px 0px 0px 1px;
  justify-self: center;
}

.training-feed__buttons {
  display: flex;
  gap: 5px;
}

.training-feed__buttons > .btn {
  text-decoration: none;
}
