.our-team {
  width: 90%;
  padding: 3rem 2rem;
}

.our-team__container,
.our-team__project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.our-team__member-container {
  display: flex;
  justify-content: space-between;
  min-height: 10em;
  gap: 5vw;
}

.our-team__title {
  text-align: center;
}

.our-team__project-title {
  font-size: 1rem;
  text-align: center;
}

.our-team__project-svg-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 80%;
  user-select: none;
}

.our-team__project-info {
  margin-top: 2em;
  margin-bottom: 4em;
}

.our-team__project-svg {
  height: 3em;
  width: 3em;
}

.our-team__project-img {
  width: auto;
  height: 1.8rem;
}
