.our-team {
  width: 90%;
}

.our-team__container,
.our-team__project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.our-team__member-container {
  display: flex;
  justify-content: space-between;
  min-height: 10em;
  gap: 5vw;
}

.our-team__project-svg-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.our-team__project-info {
  margin-top: 2em;
  margin-bottom: 4em;
}

.our-team__project-svg {
  height: 4em;
  width: 4em;
}

.our-team__project-img {
  width: 20%;
  height: min-content;
}
