.profile-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 3em 1em 1em;
  background: white;
  border-radius: 5px;
}

.profile-card__photo {
  position: absolute;
  transform: translateY(-100%);
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
}

.profile-card__name {
  margin: 0;
  font-size: calc(0.9em + 1vw);
}

.profile-card__about {
  margin: 0;
}

.profile-card__info {
  display: flex;
  gap: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.profile-info:not(:last-child) {
  border-right: 1px solid grey;
}
