:root {
  --main-btn-color: #1cbaa7;
  --hover-btn-color: #219486;
}

.btn {
  padding: 16px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.btn_main {
  background-color: var(--main-btn-color);
  color: white;
  transition: background-color 0.2s;
}

.btn_main:hover {
  background-color: var(--hover-btn-color);
}
