.friends__element {
  display: grid;
  grid-template-columns: 20% 40% 30%;
  align-items: flex-start;
  width: 100%;
  height: max-content;
  margin-top: 7%;
  margin-bottom: 6%;
}

.friend__avatar-container,
.friend__avatar {
  width: 5vw;
  height: 5vw;
}

.friend__button {
  background-color: #949494;
}

.friend__button:hover {
  background-color: #ff8d24;
}
