.task {
  display: flex;
  gap: 10px;
  width: 100%;
}

.task__photo {
  width: 40px;
  height: 40px;
  background-color: antiquewhite;
  border-radius: 50%;
}

.task > div {
  display: flex;
  flex-direction: column;
}
