.not-friends__element {
  display: grid;
  grid-template-columns: 20% 40% 30%;
  align-items: flex-start;
  width: 100%;
  height: max-content;
  margin-top: 7%;
  margin-bottom: 6%;
}

.not-friend__avatar-container,
.not-friend__avatar {
  width: 5vw;
  height: 5vw;
}
