.avatars__background {
  display: flex;
  background-color: var(--color-background-third-opacity);
  width: 100%;
  height: 100%;
  z-index: 20;
  position: fixed;
  z-index: 30;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
}

.avatars__modal {
  background: var(--color-background);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 55%;
  width: 60%;
  position: absolute;
  border-radius: 5px;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
}

.avatars__heading {
  line-height: 1.5em;
  margin: 0;
  font-size: calc(0.4em + 1vw);
  color: var(--font-basic);
}

.avatars__imgs-wpapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 90%;
  height: 70%;
  background: var(--color-background-second);
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.avatars__img {
  width: calc(1em + 5.5vw);
  height: calc(1em + 5.5vw);
  transition: border 0.3s;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid transparent;
  transition: transform 0.5s;
  transition: box-shadow 0.3s;
}

.avatars__img:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.avatars__img:active {
  transform: scale(1);
  border: 3px solid #ff8d24;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.current-avatar {
  background-color: #1cbaa7;
  border: 5px solid #ff8d24;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  pointer-events: none;
}

.avatars__buttons-wpapper {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.avatars__button_cancel,
.avatars__button_ok {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  padding: 0;
}

.avatars__button-cancel_svg,
.avatars__button-ok_svg {
  width: 2em;
  height: 2em;
  transition: fill 0.3s;
}

.avatars__button-cancel_svg:hover,
.avatars__button-ok_svg:hover {
  fill: #219486;
}

@media (max-width: 700px) {
  .avatars__modal {
    height: max-content;
    width: 60%;
    gap: 1rem;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 1rem;
  }

  .avatars__imgs-wpapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 90%;
    height: max-content;
  }

  .avatars__img {
    width: calc(2em + 5.5vw);
    height: calc(2em + 5.5vw);
  }
}
