.add-activity-section {
  height: max-content;
  margin-top: 4.5em;
  background-color: #ffffff;
  border-radius: 5px;
}

.add-activity__container {
  padding: 3% 15%;
}

.add-activity__heading {
  padding: 0;
  font-size: calc(0.8em + 1vw);
}

.add-activity__fieldset {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}

.add-activity__form {
  padding: 2% 0 2% 0;
  width: 100%;
}

.block-path {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 6%;
}

.block-type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6%;
}

.block-duration,
.block-time {
  display: flex;
  align-items: flex-end;
  gap: 0.5em;
}

.add-activity__input,
.add-activity__select {
  width: 100%;
}

.add-activity__input .label,
.add-activity__label,
.description-label {
  text-transform: uppercase;
  font-size: calc(0.5em + 0.4vw);
}

.add-activity__input .input-text,
.add-activity__select {
  height: 2em;
  padding: 0 0.3em;
  border-radius: 6px;
  border: 1px solid #1cbaa7;
  font-size: 1.1em;
  font-family: 'Work Sans', sans-serif;
  color: #949494;
  transition: all 0.3s;
  width: 100%;
}

.add-activity__input .input-text:focus,
.add-activity__select:focus {
  border: 1px solid #219486;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.invalid .input-text {
  border: 1px solid red;
  outline: 0;
}

.invalid .input-text:focus {
  border: 1px solid red;
  outline: 0;
}

.description-block {
  width: 100%;
}

.description-textarea {
  padding: 0.3em;
  font-size: 1.1em;
  font-weight: 300;
  font-family: 'Work Sans', sans-serif;
  border: 1px solid #1cbaa7;
  border-radius: 5px;
}

.add-activity__input.input-description {
  width: 100%;
}

.input-description input {
  height: 20px;
}

.input-time .input-text::-webkit-calendar-picker-indicator,
.input-date .input-text::-webkit-calendar-picker-indicator {
  filter: invert(55%);
}

.input-time .input-text::-webkit-inner-spin-button,
.input-date .input-text::-webkit-inner-spin-button {
  display: none;
}

.input-time .input-text::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}

.input-search {
  position: relative;
}

.search-icon {
  position: absolute;
}

.map_container {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.map__title {
  text-transform: uppercase;
  font-size: calc(0.5em + 0.4vw);
}

.btn-activity {
  margin-top: 3%;
  width: 100%;
}
