.member__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.member__photo.icon {
  border-radius: 50%;
  width: calc(5rem + 4vw);
  height: calc(5rem + 4vw);
}

.member__name,
.member__about {
  text-align: center;
}
