.settings__gender_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings__gender_title {
  text-transform: uppercase;
  font-size: calc(0.5em + 0.4vw);
}

.settings__gender_current {
  font-family: 'Work Sans', sans-serif;
  font-size: calc(0.2em + 0.9vw);
  color: #949494;
  text-align: center;
  padding-right: 3%;
}

.settings__gender_btn {
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  border-radius: 50%;
  outline: none;
  background: none;
}

.settings__gender_btn:hover {
  background: none;
  background-color: none;
}

.settings__gender_btn_svg {
  width: calc(0.35em + 0.25vw);
  height: calc(0.35em + 0.25vw);
  transition: fill 0.3s;
}

.settings__gender_btn_svg:hover {
  fill: #1cbaa7;
}
