:root {
  --main-btn-color: #1cbaa7;
  --hover-btn-color: #219486;
}

.btn {
  min-width: min-content;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--main-btn-color);
  color: white;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: var(--hover-btn-color);
}
