.comment {
  display: grid;
  grid-template-columns: 3.5em 1fr;
  gap: 1.5em;
}

.comment__photo {
  height: calc(0.8em + 1.3vw);
  width: calc(0.8em + 1.3vw);
  justify-self: center;
}

.comment__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.comment__name {
  font-weight: 400;
  font-size: calc(0.5em + 0.5vw);
}

.comment__date {
  font-weight: 300;
  color: #949494;
  font-size: calc(0.4em + 0.4vw);
}

.comment__message {
  margin-bottom: 0.4em;
  font-weight: 300;
  font-size: calc(0.5em + 0.4vw);
}

.comment__icons {
  display: flex;
  justify-content: space-between;
}

.comment__like {
  display: block;
  width: calc(0.5em + 0.5vw);
  height: calc(0.5em + 0.5vw);
  margin-bottom: 0.5em;
  cursor: pointer;
  transition: fill 0.3s;
}

.comment__like:hover {
  fill: #219486;
}

.comment__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment__delete-svg {
  width: calc(0.3em + 0.3vw);
  height: calc(0.3em + 0.3vw);
  cursor: pointer;
  transition: fill 0.3s;
}

.comment__delete-svg:hover {
  fill: #219486;
}
