* {
  box-sizing: border-box;
}

fieldset,
form,
label,
legend,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
  background: url('./assets/backgrounds/signup-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.main {
  flex: 1 0 auto;
  width: 100%;
  padding: 1rem 5rem;
}

.map,
.map-wrapper {
  width: 100%;
  height: 100%;
  z-index: 10;
}

.link {
  text-decoration: none;
  color: #219486;
}

h1,
h2,
h3,
h4,
h5,
.h3 {
  font-family: 'Montserrat', sans-serif;
}
