*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

fieldset,
form,
label,
legend,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  width: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: calc(14px + (16 - 14 * 0.7) * ((100vw - 320px) / 1920));
  /* transition: 1s ease-in; */
  background-color: rgba(222, 222, 222, 0.387);
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.main {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map,
.map-wrapper {
  width: 100%;
  height: 100%;
  z-index: 10;
}

.link {
  text-decoration: none;
  color: #219486;
}

h1,
h2,
h3,
h4,
h5,
.h3 {
  font-family: 'Montserrat', sans-serif;
}

h2.titles {
  font-size: calc(16px + (22 - 18 * 0.7) * ((100vw - 320px) / 1920));
}
