.our-activity__graph {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: flex-end;
  justify-content: center;
  gap: calc(0.7rem + 1vw);
  height: max-content;
  padding: 0 1em;
}

.our-activity__graph_all-days-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: min-content;
  order: 2;
  gap: 2px;
}

.our-activity__graph_day-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.our-activity__graph_day_column {
  height: calc(0.1em + 0.15vw);
  width: calc(0.7em + 0.3vw);
  background: #979797;
}

.our-activity__graph_div-round {
  height: calc(1rem + 3vw);
  width: calc(1rem + 3vw);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3rem solid #1cbaa7;
  opacity: 50%;
  border-radius: 50%;
  order: 1;
}

.our-activity__graph_svg {
  width: calc(1rem + 1vw);
  height: calc(1rem + 1vw);
}

.our-activity__graph_day_letter {
  font-size: calc(0.6rem + 0.3vw);
}
