.pagination {
  display: grid;
  grid-template-columns: calc(1rem + 1vw) 4em calc(1rem + 1vw);
  align-items: center;
  justify-items: center;
  width: 100%;
  gap: 0.1em;
}

.right-svg__block,
.left-svg__block {
  position: relative;
  width: calc(0.8rem + 0.8vw);
  height: calc(0.8rem + 0.6vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-svg,
.left-svg {
  width: 1.2rem;
  height: 1.2rem;
}

.right-svg__block:hover,
.left-svg__block:hover {
  background-color: #1cbaa7;
}

.right-svg__block:hover,
.left-svg__block:hover {
  background-color: #219486;
}

.left-svg__block:hover .left-svg {
  transform: translateX(-2px);
  transition: all 0.3s ease-in-out;
}

.right-svg__block:hover .right-svg {
  transform: translateX(2px);
  transition: all 0.3s ease-in-out;
}

.right-svg__block:disabled,
.left-svg__block:disabled {
  opacity: 40%;
  pointer-events: none;
}

@media (max-width: 900px) {
  .pagination {
    grid-template-columns: 1rem 4em 1rem;
  }

  .right-svg__block,
  .left-svg__block {
    width: 1rem;
    height: 1rem;
  }

  .right-svg__block.btn,
  .left-svg__block.btn {
    padding: 1%;
  }
}
