.pagination {
  display: grid;
  grid-template-columns: 5% 4% 5%;
  align-items: center;
  justify-items: center;
  gap: 0.5em;
}

.right-svg__block,
.left-svg__block {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

.right-svg,
.left-svg {
  position: absolute;
  top: 0;
  left: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
}

.right-svg__block:hover,
.left-svg__block:hover {
  background-color: #1cbaa7;
}

.right-svg__block:hover,
.left-svg__block:hover {
  background-color: #219486;
}

.left-svg__block:hover .left-svg {
  transform: translateX(-2px);
  transition: all 0.3s ease-in-out;
}

.right-svg__block:hover .right-svg {
  transform: translateX(2px);
  transition: all 0.3s ease-in-out;
}

.right-svg__block:disabled,
.left-svg__block:disabled {
  opacity: 40%;
  pointer-events: none;
}
