.right-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.add-route-link__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 1em 1em;
  background: white;
  border-radius: 5px;
}

.link.right-menu__link {
  padding: 0;
  margin: 0;
  font-size: calc(0.7em + 0.3vw);
  text-transform: uppercase;
  font-weight: 500;
  color: #ff8d24;
  font-family: 'Montserrat', sans-serif;
}

.link.right-menu__link:hover {
  color: #219486;
}

.suggested-friends__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em 1em 1em;
  gap: 0.5em;
  background: white;
  border-radius: 5px;
}

/* .right-menu__heading {
  padding: 0;
  margin: 0;
  font-size: calc(0.7em + 0.3vw);
  text-transform: uppercase;
  font-weight: 500;
  color: #ff8d24;
} */

.add-route__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-route__icon-wrapper,
.add-route__icon,
.suggested-friends__icon,
.suggested-friends__icon-wrapper,
.add-challenge__icon-wrapper,
.add-challenge__icon {
  width: 2.5rem;
  height: 2.5rem;
}
